useDynLib(bcn, .registration=TRUE)
S3method(predict, bcn)
importFrom(Rcpp, evalCpp)
importFrom("stats", ".lm.fit", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
